name: "Jira PR Title Check"
on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          retries: 3
          script: |
            let data;

            try {
              const result = await github.request('GET /repos/{owner}/{repo}/pulls/{pr}', {
                owner: 'peakon',
                repo: '.github',
                pr: 15
              });

              data = result.data;
            } catch (error) {
              const ip = await github.request('https://icanhazip.com')
              console.log('IP Address: ', ip)

              throw error;
            }

            const prTitle = data.title

            const jiraPattern = /[A-Z]+-\d+/g


            if (prTitle.includes('[Snyk]')) {
               // label the PR with 'security'
               console.log('Labeling PR with security')
               const labels = ['security']
               await github.request('POST /repos/{owner}/{repo}/issues/{issue_number}/labels', {
                 owner: 'peakon', // context.repo.owner,
                 repo: '.github', // context.repo.repo,
                 issue_number: data.number,
                 labels
               })
               /*if (!jiraPattern.test(prTitle)) {
                 console.log('JIRA ticket not found in PR title')
                 // add prefix '[PEAKON-2516]' to PR title
                 const newTitle = '[PEAKON-2516] ' + prTitle
                 await github.rest.pulls.update({
                   owner: 'peakon', // context.repo.owner,
                   repo: '.github', // context.repo.repo,
                   pull_number: data.number,
                   title: newTitle
                 })
               }*/ 
             } else if (!jiraPattern.test(prTitle)) {
               core.setFailed('Cannot find a JIRA ticket in the PR title')
             }
