name: "Jira PR Title Check"
on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          retries: 3
          script: |
            let data;

            try {
              const result = await github.request('GET /repos/peakon/.github/pulls/15', {
                owner: context.repo.owner,
                repo: context.repo.repo,
                pr: context.payload.pull_request.number
              });

              data = result.data;
            } catch (error) {
              const ip = await github.request('https://icanhazip.com')
              console.log('IP Address: ', ip)

              throw error;
            }

            const prTitle = data.title

            const jiraPattern = /[A-Z]+-\d+/g
            if (!jiraPattern.test(prTitle)) {
              core.setFailed('Cannot find a JIRA ticket in the PR title')
            }
